version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "yearly"

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "yearly"
